
<div (click)="treeViewItem.mouseAction( 'click', $event )" class="header"><!-- [ngClass]="{'selected': treeViewItem.isFocused}" -->
  <i class="glyphicon" *ngIf="treeViewItem.children"
     [ngClass]="{'glyphicon-chevron-right': !treeViewItem.isExpanded, 'glyphicon-chevron-down': treeViewItem.isExpanded}"></i>
  {{ treeViewItem.displayField }}
</div>

<ul *ngIf="treeViewItem.children && treeViewItem.isExpanded">
  <li *ngFor="let item of treeViewItem.children" class="entry" [ngClass]="{'selected': item.isFocused, 'entry-hover': item.isHovered}"
      (mouseover)="item.mouseAction( 'over', $event )" (mouseout)="item.mouseAction( 'out', $event )">
    <tree-view-item [treeViewItem]="item"></tree-view-item>
  </li>
</ul>