<!--<div *ngIf="treeItemIndex === 0" class="drop-slot-first" [ngClass]="{'drag-over-first': treeViewItem.parent.treeModel.isDraggingOver( this )}"
     (dragover)="onDragOverSlot( $event, treeItemIndex )" (dragleave)="onDragLeaveSlot()" (drop)="onDropSlot( $event, treeItemIndex )"></div>-->
<tree-view-drop-slot *ngIf="treeItemIndex === 0" [treeViewItem]="treeViewItem.parent" [treeItemIndex]="treeItemIndex"></tree-view-drop-slot>
<div (click)="treeViewItem.mouseAction( 'click', $event )" class="header" [ngClass]="{'is-dragging-over': treeViewItem.treeModel.isDraggingOver( this )}"
		 draggable="true" #itemContentWrapper
		 (dragstart)="onDragStart( $event )" (dragend)="onDragEnd()"
		 (dragover)="onDragOver( $event )" (dragleave)="onDragLeave(itemContentWrapper, $event)"
		 (drop)="onDrop( $event )">
	<!-- [ngClass]="{'selected': treeViewItem.isFocused}" -->
	<i class="glyphicon" *ngIf="treeViewItem.hasChildren"
		 [ngClass]="{'glyphicon-chevron-right': !treeViewItem.isExpanded, 'glyphicon-chevron-down': treeViewItem.isExpanded}"></i>
	<span *ngIf="!treeViewItem.hasChildren" class="expander-placeholder"></span>
	{{ treeViewItem.displayField }}
</div>

<div *ngIf="treeViewItem.isExpanded">
	<ul *ngIf="treeViewItem.children">
		<li *ngFor="let item of treeViewItem.children; let i = index" class="entry" 
        [ngClass]="{'selected': item.isFocused, 'entry-hover': item.isHovered, 'first-entry': i === 0}"
				(mouseover)="item.mouseAction( 'over', $event )" (mouseleave)="item.mouseAction( 'out', $event )">
			<tree-view-item [treeViewItem]="item" [treeItemIndex]="i"></tree-view-item>
		</li>
	</ul>
</div>
<tree-view-drop-slot [treeViewItem]="treeViewItem.parent" [treeItemIndex]="treeItemIndex + 1"></tree-view-drop-slot>
<!--<div class="drop-slot" [ngClass]="{'drag-over': treeViewItem.parent.treeModel.isDraggingOver( this )}"
		 (dragover)="onDragOverSlot( $event, treeItemIndex + 1 )" (dragleave)="onDragLeaveSlot()" (drop)="onDropSlot( $event, treeItemIndex + 1 )"></div>-->