<div class="tree-view">
  <ul [dragula]="'tree-drag'" [dragulaModel]="treeModel.roots">
    <li *ngFor="let item of treeModel.roots" class="entry" [ngClass]="{'selected': item.isFocused, 'entry-hover': item.isHovered}"
        (mouseover)="item.mouseAction( 'over', $event )" (mouseleave)="item.mouseAction( 'out', $event )">
      <tree-view-item [treeViewItem]="item"></tree-view-item>
    </li>
  </ul>
</div>
<!--<div class="tree-view">
  <tree-view-item *ngFor="let item of treeModel.roots; let i = index" [treeViewItem]="item"></tree-view-item>
</div>-->